<body xmlns:th="http://www.w3.org/1999/xhtml">
    <!--<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">-->

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
    
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Text -->
        <section class="mb-4">
          <p>
            <b>SPORTMANAGER</b>
            <br>
            <b></b>
          </p>
        </section>
        <!-- Section: Text -->
        <br>
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-1 col-md-6 mb-4 mb-md-0">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="" class="text-white"></a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        HernandezSoft © 2022 Copyright
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>