<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="form-registro">
        <h2>Registrar</h2>
        <div class="container-registro">
            <form th:action="@{/insertUser}" method="post" th:object="${estudiante}">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nombres</span>
                    <input type="text" name="nombre" class="form-control" placeholder="Nombres" aria-label="Nombres" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Apellidos</span>
                    <input type="text" name="apellido" class="form-control" placeholder="Apellidos" aria-label="Apellidos" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4">Tipo de Documento</span>
                    <select class="form-select" name="tipo_documento" aria-label="Default select example">
                        <option value="TI" selected>T.I</option>
                        <option value="CC" >C.C</option>
                        <option value="PS">Pasaporte</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Numero de Documento</span>
                    <input type="text" name="documento" class="form-control" placeholder="Numero de Documento" aria-label="Numero de Documento" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon5">Correo Electronico</span>
                    <input type="email" name="email" class="form-control" placeholder="@" aria-label="@" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon6">Fecha de Nacimiento</span>
                    <input type="date" name="fecha_nacimiento" class="form-control" placeholder="00-00-0000" aria-label="00-00-0000" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon7">Estura</span>
                    <input type="text" name="estura" class="form-control" placeholder="1.61" aria-label="1.61" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon8">Peso</span>
                    <input type="number" name="peso" class="form-control" placeholder="0" aria-label="0" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon10">Genero</span>
                    <select class="form-select" name="genero" aria-label="Default select example">
                        <option value="0" selected>Seleccione una opcion</option>
                        <option value="F" >Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon11">Contraseña</span>
                    <input type="password" name="password" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon12">Confirmar Contraseña</span>
                    <input type="password" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>
                <div class="btn-ingresar">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>